<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Books</h1>
<a href="/books/new">Create New Book</a>
<a href="/authors/new">Create New Author</a>
<table>
    <thead>
    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Author ID</th>
        <th>Author Name</th>
    </tr>





    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author.id}"></td>
        <td th:text="${book.author.author_name}"></td>
        <td>
            <a th:href="@{/books/delete/{id}(id=${book.id})}">Delete</a>
        </td>
        <td>
            <!-- Ссылка на страницу автора -->
            <a th:href="@{/authors/{authorId}/books(authorId=${book.author.id})}"
               th:text="${book.author.author_name}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

